<div class="jumbotron center">
  <h1>Welcome to Games Central</h1>
  <h2>The best game sharing app!</h2>
  <p><%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg" %></p>
</div>

<div class="row center">
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Hello</p>
    <p><a class="btn btn-primary btn-danger btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>How are you?</p>
    <p><a class="btn btn-primary btn-danger btn-xlarge" href="#" role="button">View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>More words</p>
    <p><a class="btn btn-primary btn-danger btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
</div>

<div class="images">
  <img id="image1" src="<%=asset_path('playstation.jpg')%>" style="float:left" width="100" height="100">
  <img id="image2" src="<%=asset_path('xbox logo.jpg')%>" style="float:left" width="100" height="100">
  <img id="image3" src="<%=asset_path('nintendo.jpg')%>" style="float:left" width="100" height="100">
  <img id="image4" src="<%=asset_path('oculus rift.jpg')%>" style="float:left" width="100" height="100">
  <img id="image5" src="<%=asset_path('pc.jpg')%>" style="float:left" width="100" height="100">
</div>
