<% obj.each do |game| %>
  <div class="row">
    <div class="col-md-2">
      <section class="player_info center">
        <%= gravatar_for(game.player, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h3><%= link_to game.name, game_path(game) %></h3>
      <p><%= truncate(game.description, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(game.created_at)%> ago</small></span>
      </p>
      <% if logged_in? && current_player == game.player %>
        <div class="game-actions">
          <%= link_to "Edit this game", edit_game_path(game), class: "btn btn-xs btn-warning" %>
          <%= link_to "Delete this game", game_path(game), method: :delete,
                                      data: { confirm: "Are you sure you want to delete this game?" },
                                      class: "btn btn-xs btn-danger" %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>