<!DOCTYPE html>
<html>
  <head>
    <title>Gamesapp</title>
    <%= favicon_link_tag 'favicon 09.46.54.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

  <div class="images">
    <img id="image1" src="<%=asset_path('playstation.jpg')%>" style="float:left" width="100" height="100">
    <img id="image2" src="<%=asset_path('xbox logo.jpg')%>" style="float:left" width="100" height="100">
    <img id="image3" src="<%=asset_path('nintendo.jpg')%>" style="float:left" width="100" height="100">
    <img id="image4" src="<%=asset_path('oculus rift.jpg')%>" style="float:left" width="100" height="100">
    <img id="image5" src="<%=asset_path('pc.jpg')%>" style="float:left" width="100" height="100">
  </div>
</html>
